
@{
    ViewBag.Title = "GetAll2";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Productos Descontinuados:</h2>
            <hr />
        </div>

    </div>
</div>
<br />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="../Scripts/SubCategoria/GetAll2.js"></script>

<div class="container">

    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="SubCategorias" class="table table-hover" border="1">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">ProductID</th>
                        <th class="text-center" scope="col">ProductName</th>
                        <th class="text-center" scope="col">UnitPrice</th>
                        <th class="text-center" scope="col">CategoryID</th>
                        <th class="text-center" scope="col">CategoryName</th>
                    </tr>

                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
